Dockerfile
.dockerignore
node_modules
npm-debug.log
dist
postgres-db
.vscode
.git


# **/.classpath
# **/.dockerignore
# **/.env
# **/.gitignore
# **/.project
# **/.settings
# **/.toolstarget
# **/.vs
# **/*.*proj.user
# **/*.dbmdl
# **/*.jfm
# **/charts
# **/docker-compose*
# **/compose*
# **/Dockerfile*
# # **/node_modules
# **/npm-debug.log
# **/obj
# **/secrets.dev.yaml
# **/values.dev.yaml
# **/postgres-db
# **/dist
# README.md
